body {
    background: #f6f6fa;
    font-family: sans-serif;
}

.title {
    color: #2D3E50;
    font-size: 35px;
    text-align: center;
    margin-bottom: 0px;
}

.title-img {
    margin: auto;
    display: block;
    width: 280px;
    margin-bottom: 10px;
}

.services {
    margin-bottom: 15px;
    width: 20%;
    display: inline-block;
    background-color: #EDF4F8;
    height: 400px;
    position: relative;
    vertical-align: top;
    margin-left: 48px;
}

.services-img {
    height: 199px;
    width: 100%;
}

.services-text-content {
    padding: 15px 15px 25px 15px;
}




.services-title {
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.services-sub-title {
    margin-top: 0px;
    font-size: 12px;
}

.services-description {
    font-size: 12px;
}


.services-btn {
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #55BC42;
    margin-top: auto;
    position: absolute;
    bottom: 25px;
    padding: 8px 15px 8px 15px;
    border: 0;
}

.services-img-group {
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 35px;
    float: left;
}

.title-group {
    font-size: 25px;
    font-weight: 400;
}

.description-group {
    font-size: 16px;
    font-weight: 50;
}

.services-group {
    margin-bottom: 50px;
    width: 40%;
    background-color: #EDF4F8;
    height: 150px;
    position: relative;
    vertical-align: top;
    margin-left: 48px;
}

.title-img-bottom-group {
    position: absolute;
    top: 54%;
    left: 41%;
    text-align: center;
    width: 511px;
    height: 336.144px;
}

.text-content-group {
    position: absolute;
    top: 87%;
    left: 41%;
    text-align: left;
    width: 570px;
    height: 336.144px;
}